<h1>Stupid Coach</h1>
<div class = "p-3 mb-2 w-25 rounded bg-info text-white">
  <%=params[:answer]%>
  <p>-You</p>
</div>

<div class = "p-3 mb-2 w-25 bg-info text-white">
  <%= @answer %>
  <p>-Your coach</p>
</div>

<%= link_to "Ask a new question", "http://localhost:3000/ask" %>
