<h1>Stupid Coach</h1>

<%=params[:answer]%>
<p>-You</p>

<%= if params[:answer] == "I am going to work"
      "Great!"
    elsif
    params[:answer].chars.last(1).join == "?"
      "Silly question, get dressed and go to work!"
    else
      "I don't care, get dressed and go to work!"
    end %>
<p>-Your coach</p>

<%= link_to "Ask a new question", "http://localhost:3000/ask" %>
